<%- include('../partials/header') %>

<h1>Flight Information</h1>

<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight #: </div>
    <div><%= flight.flightNo %></div>
    <div>Time of Departure: </div>
    <div><%= flight.departs %></div>
    </section>

    <div><h2>Destinations</h2></div>
    <section>
        
      <table>
        <tr>
          <td></td>
          <td><small>Airport:</small></td>
          <td><small>Arrival Time:</small></td>
        </tr>
      
      <% if (flight.destinations.length) { %>
        <% flight.destinations.forEach(d => { %>
          <tr>
            <td></td>
            <td>
              <%= d.airport %> 
            </td>
            <td>
              <% if (d.arrival) { %>
               <%= d.arrival %> 
              <% } else { %>
                Not Available
              <% }; %> 
            </td></tr>
    <% }) %>

      <% } else  { %>
      <h5>No Desinations</h5>
      <% } %>
      </ul>
      </table>
</section>

<div><h2>Tickets</h2></div>

<a class="button" href="/flights/<%= flight._id %>/tickets/new">Buy Tickets</a>  
<section>
  <table>

  <% if (tickets.length) { %>
      <tr>
        <td><small>seat coupon</small></td>
        <td><small>ticketmaster</small></td>
        <td><small>chair pass</small></td>
      </tr>
    <% tickets.forEach(t => { %>
      <tr>
        <td> <%= t.seat %> </td>
        <td> <%= t.price %> </td>
        <td> <%= t.flight %> </td>
      </tr>
  </table>
</section>
      <% }) %>
  
  <% } else  { %>
      <h4>----------------====== NO TICKETS ======----------------</h4>    
    <% } %>

  <br><br><h2>Add Destination</h2>
  <form id="add-review-form" method="POST"
    action="/flights/<%= flight._id %>/destinations">
    <label>Destinations:</label>
  
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
    <label>Arrival Time:
      <input type="datetime-local" name="arrival" value="<% flight.arrival %> ">
        
    </label><br>
    <input type="submit" value="Add Destination">
  </form>


<%- include('../partials/footer') %>